#game {
  background: green;
  width: 600px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid black;
}

#ball {
  background: blue;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 290px;
  top: 140px;
  border-radius: 10px;
  border: 1px solid black;
}

#t1 {
  background: red;
  position: absolute;
  width: 20px;
  height: 90px;
  left: 20px;
  top: 100px;
  border-radius: 10px;
  border: 1px solid black;
}

#t2 {
  background: blue;
  position: absolute;
  width: 20px;
  height: 90px;
  right: 20px;
  top: 100px;
  border-radius: 10px;
  border: 1px solid black;
}
